
<%= form_for(@aluminiprofile,:remote => true) do |f| %>
  <% if @aluminiprofile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aluminiprofile.errors.count, "error") %> prohibited this aluminiprofile from being saved:</h2>

      <ul>
      <% @aluminiprofile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Registration id<br />
    <%= f.text_field :regid %>
  </div>
  <div class="field">
     Sex :<br />
    <%= f.text_field :sex %>
  </div>
  <div class="field">
    Date of Birth :<br />
    <%= f.date_select :dob %>
  </div>
  <div class="field">
    Year Of Joining :<br />
    <%= f.text_field :yearofjoining %>
  </div>
  <div class="field">
    Course :<br />
    <%= f.text_field :course %>
  </div>
  <div class="field">
     Mobile Number :<br />
    <%= f.text_field :mobile %>
  </div>
  <div class="field">
    Phone Number :<br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    Currently working In :<br />
    <%= f.text_field :working %>
  </div>
  <div class="field">
    Currently Occupation  :<br />
    <%= f.text_field :workpo %>
  </div>
  <div class="field">
    Office Address :<br />
    <%= f.text_area :workaddress,:rows=>'3' %>
  </div>
  <div class="field">
    Office Phone :<br />
    <%= f.text_field :workph %>
  </div>
  <div class="field">
    marriage Status :<br />
    <%= f.text_field :maristat %>
  </div>
  <div class="field">
    Current Address :<br />
    <%= f.text_area :curadress,:rows=>'3' %>
  </div>
  <div class="field">
    Permanent Address :<br />
    <%= f.text_area :pradress,:rows=>'3' %>
  </div>
  <div class="field">
    Hobbies :<br />
    <%= f.text_area :hobies,:rows=>'3' %>
  </div>
  <div class="field">
    Sports :<br />
    <%= f.text_area :sports,:rows=>'3' %>
  </div>
  <div class="field">
    Goals :<br />
    <%= f.text_area :goals,:rows=>'3'%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
