<p id="notice"><%= notice %></p>

<p>
  <b>Regid:</b>
  <%= @aluminiprofile.regid %>
</p>

<p>
  <b>Sex:</b>
  <%= @aluminiprofile.sex %>
</p>

<p>
  <b>Dob:</b>
  <%= @aluminiprofile.dob %>
</p>

<p>
  <b>Yearofjoining:</b>
  <%= @aluminiprofile.yearofjoining %>
</p>

<p>
  <b>Course:</b>
  <%= @aluminiprofile.course %>
</p>

<p>
  <b>Mobile:</b>
  <%= @aluminiprofile.mobile %>
</p>

<p>
  <b>Phone:</b>
  <%= @aluminiprofile.phone %>
</p>

<p>
  <b>Working:</b>
  <%= @aluminiprofile.working %>
</p>

<p>
  <b>Workpo:</b>
  <%= @aluminiprofile.workpo %>
</p>

<p>
  <b>Workaddress:</b>
  <%= @aluminiprofile.workaddress %>
</p>

<p>
  <b>Workph:</b>
  <%= @aluminiprofile.workph %>
</p>

<p>
  <b>Maristat:</b>
  <%= @aluminiprofile.maristat %>
</p>

<p>
  <b>Curadress:</b>
  <%= @aluminiprofile.curadress %>
</p>

<p>
  <b>Pradress:</b>
  <%= @aluminiprofile.pradress %>
</p>

<p>
  <b>Hobies:</b>
  <%= @aluminiprofile.hobies %>
</p>

<p>
  <b>Sports:</b>
  <%= @aluminiprofile.sports %>
</p>

<p>
  <b>Goals:</b>
  <%= @aluminiprofile.goals %>
</p>


<%= link_to 'Edit', edit_aluminiprofile_path(@aluminiprofile) %> |
<%= link_to 'Back', aluminiprofiles_path %>
