<%= form_for(@event,:remote => true) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Event Title :<br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    Event Date and Time<br />
    <%= f.datetime_select :at %>
  </div>
  <div style="visibility: hidden;position: absolute;">
    <%= f.label :userid %>
    <%@ses ||=session[:user]
     @fed ||=Customer.find(@ses)
    %>
    <%= f.text_field :userid,:value=>@fed.user_id %>
  </div>
<div class="field">
    Related Branch :<br />
    <%= f.text_field :branch %>
  </div>
  <br/>  <br/>
    Belongs To :<br/>
    <%= f.check_box :employee %>
  <%= f.label :employee %>
    
    <%= f.check_box :student %>
<%= f.label :student %>
    
    <%= f.check_box :faculty %>
  <%= f.label :faculty %>
    
    <%= f.check_box :alumini %>
<%= f.label :alumini %>
  <br/>  <br/>  <br/>
  <div class="field">
    Description :<br />
    <%= f.text_area :description,:rows =>'5' %>
  </div>
  <div id="result"></div>
  <div class="actions">
   <%= f.submit "SUBMIT" %>
  </div>
<% end %>
