<%= form_for(@customer,:remote => true) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table style="margin-left: 30%;">
  <tr><td>User Type</td><td>
      <select id="user_user_type" name="customer[user_type]">
  <option>Select</option>
  <option>Alumni</option>
  <option>Faculty</option>
  <option>Employee</option>
  <option>Student</option>
</select>
    </td></tr>
  <tr>
  <td>Full Name</td><td><%= f.text_field :name%></td></tr>
  <tr><td>User Id</td><td><%= f.text_field :user_id%></td></tr>
  <tr><td>Email Address</td><td><%= f.text_field :email%></td></tr>
  <tr><td>Login Id</td><td> <%= f.text_field :login_id%></td></tr>
  <tr><td>password</td><td><%= f.password_field :password%></td></tr>
  <tr><td>Conform password</td><td><%= f.password_field :password_confirmation%></td></tr>
  
  <tr><td></td><td><%= f.submit %></td></tr>
</table>
  
 
<% end %>
