<p id="notice"><%= notice %></p>

<p>
  <b>Empid:</b>
  <%= @empprofile.empid %>
</p>

<p>
  <b>Sex:</b>
  <%= @empprofile.sex %>
</p>

<p>
  <b>Dob:</b>
  <%= @empprofile.dob %>
</p>

<p>
  <b>Mobile:</b>
  <%= @empprofile.mobile %>
</p>

<p>
  <b>Phone:</b>
  <%= @empprofile.phone %>
</p>

<p>
  <b>Qulification:</b>
  <%= @empprofile.qulification %>
</p>

<p>
  <b>Curadress:</b>
  <%= @empprofile.curadress %>
</p>

<p>
  <b>Pradress:</b>
  <%= @empprofile.pradress %>
</p>

<p>
  <b>Hobies:</b>
  <%= @empprofile.hobies %>
</p>


<%= link_to 'Edit', edit_empprofile_path(@empprofile) %> |
<%= link_to 'Back', empprofiles_path %>
