
<%= form_for(@facultiprofile,:remote => true) do |f| %>
  <% if @facultiprofile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facultiprofile.errors.count, "error") %> prohibited this facultiprofile from being saved:</h2>

      <ul>
      <% @facultiprofile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   Employee Id :<br />
    <%= f.text_field :empid %>
  </div>
  <div class="field">
    Sex :<br />
    <%= f.text_field :sex %>
  </div>
  <div class="field">
   Date of Birth :<br />
    <%= f.date_select :dob %>
  </div>
  <div class="field">
    Deportment :<br />
    <%= f.text_field :deportment %>
  </div>
  <div class="field">
   Mobile Number :<br />
    <%= f.text_field :mobile %>
  </div>
  <div class="field">
    Phone Number :<br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    Qualification :<br />
    <%= f.text_field :qulification %>
  </div>
  <div class="field">
    Subjects :<br />
    <%= f.text_area :subjects,:rows=>'3' %>
  </div>
  <div class="field">
    Current Address :<br />
    <%= f.text_area :curadress,:rows=>'3' %>
  </div>
  <div class="field">
    Permanent Address :<br />
    <%= f.text_area :pradress,:rows=>'3' %>
  </div>
  <div class="field">
    Hobbies :<br />
    <%= f.text_area :hobies,:rows=>'3' %>
  </div>
  <div class="field">
   Sports :<br />
    <%= f.text_area :sports,:rows=>'3' %>
  </div>
  <div class="field">
    Goals :<br />
    <%= f.text_area :goals,:rows=>'3' %>
  </div>
  <div class="actions">
    <%= f.submit "SUBMIT" %>
  </div>
<% end %>
