<p id="notice"><%= notice %></p>

<p>
  <b>Empid:</b>
  <%= @facultiprofile.empid %>
</p>

<p>
  <b>Sex:</b>
  <%= @facultiprofile.sex %>
</p>

<p>
  <b>Dob:</b>
  <%= @facultiprofile.dob %>
</p>

<p>
  <b>Deportment:</b>
  <%= @facultiprofile.deportment %>
</p>

<p>
  <b>Mobile:</b>
  <%= @facultiprofile.mobile %>
</p>

<p>
  <b>Phone:</b>
  <%= @facultiprofile.phone %>
</p>

<p>
  <b>Qulification:</b>
  <%= @facultiprofile.qulification %>
</p>

<p>
  <b>Subjects:</b>
  <%= @facultiprofile.subjects %>
</p>

<p>
  <b>Curadress:</b>
  <%= @facultiprofile.curadress %>
</p>

<p>
  <b>Pradress:</b>
  <%= @facultiprofile.pradress %>
</p>

<p>
  <b>Hobies:</b>
  <%= @facultiprofile.hobies %>
</p>

<p>
  <b>Sports:</b>
  <%= @facultiprofile.sports %>
</p>

<p>
  <b>Goals:</b>
  <%= @facultiprofile.goals %>
</p>


<%= link_to 'Edit', edit_facultiprofile_path(@facultiprofile) %> |
<%= link_to 'Back', facultiprofiles_path %>
