
<%= form_for(@stuprofile,:remote => true) do |f| %>
  <% if @stuprofile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stuprofile.errors.count, "error") %> prohibited this stuprofile from being saved:</h2>

      <ul>
      <% @stuprofile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Student Id :<br />
    <%= f.text_field :userid %>
  </div>
  <div class="field">
    Branch :<br />
    <%= f.text_field :branch %>
  </div>
  <div class="field">
    Mobile Number :<br />
    <%= f.text_field :mobile %>
  </div>
  <div class="field">
    Phone Number :<br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    Current Address :<br />
    <%= f.text_area :curaddress,:rows=>'3' %>
  </div>
  <div class="field">
    Permanent Address :<br />
    <%= f.text_area :peradress,:rows=>'3' %>
  </div>
  <div class="field">
    Sports :<br />
    <%= f.text_area :sports,:rows=>'3' %>
  </div>
  <div class="field">
    Goals :<br />
    <%= f.text_area :goals,:rows=>'3' %>
  </div>
  <div class="field">
    Hobbies :<br />
    <%= f.text_area :hobbyes,:rows=>'3' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
