<p id="notice"><%= notice %></p>

<p>
  <b>Userid:</b>
  <%= @stuprofile.userid %>
</p>

<p>
  <b>Branch:</b>
  <%= @stuprofile.branch %>
</p>

<p>
  <b>Mobile:</b>
  <%= @stuprofile.mobile %>
</p>

<p>
  <b>Phone:</b>
  <%= @stuprofile.phone %>
</p>

<p>
  <b>Curaddress:</b>
  <%= @stuprofile.curaddress %>
</p>

<p>
  <b>Peradress:</b>
  <%= @stuprofile.peradress %>
</p>

<p>
  <b>Sports:</b>
  <%= @stuprofile.sports %>
</p>

<p>
  <b>Goals:</b>
  <%= @stuprofile.goals %>
</p>

<p>
  <b>Hobbyes:</b>
  <%= @stuprofile.hobbyes %>
</p>


<%= link_to 'Edit', edit_stuprofile_path(@stuprofile) %> |
<%= link_to 'Back', stuprofiles_path %>
