<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="images/log.bmp" type="image/x-icon" />
  <title>NERIST</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= javascript_include_tag "prototype", "jquery" %>
  <script>$j = jQuery.noConflict();</script>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
$j(document).ready(function(){
  $j("#department").mouseover(function(){
  $j(".submenu").slideUp();
  $j("#departments").slideDown(500);
  });
  $j("#Institutes").mouseover(function(){
  $j(".submenu").slideUp();
  $j("#Institute").slideDown(500);
  });
  $j("#Academics").mouseover(function(){
  $j(".submenu").slideUp();
  $j("#Academic").slideDown(500);
  });
  $j("#Facilitie").mouseover(function(){
  $j(".submenu").slideUp();
  $j("#Facilities").slideDown(500);
  });
  $j("#Student").mouseover(function(){
  $j(".submenu").slideUp();
  $j("#Students").slideDown(500);
  });
  $j("#homebar").mouseover(function(){
  $j(".submenu").slideUp();
  });
  $j("#dept").mouseover(function(){
  $j(".submenu").slideUp();
  $j("#subhome").slideToggle(500);
  });
  $j("#head").mouseover(function(){
  $j(".submenu").slideUp();
  });
  $j("#content").mouseover(function(){
  $j(".submenu").slideUp();
  });
  $j(".but").mouseover(function(){
  $j(".submenu").slideUp();
  });
  $j("#except").mouseover(function(){
  $j(".submenu").slideUp();
  });
  $j("a").click(function(){
  $j("#home").html("<div class='loading'>Loading....</div>");
  });
$j("#logbut").click(function(){
   $j("#login").slideToggle(500);
  });
  $j("#logbut").mouseover(function(){
   $j("#Students,#Facilities").slideUp();
  });

  //happening script
 $j("body").mouseover(function(){
  $j(".hapnone").fadeOut(9000,function(){
   $j(".hapntwo").fadeIn(1000,function(){
    $j(".hapntwo").fadeOut(9000,function(){
      $j(".hapnone").fadeIn(1000);
    });
   });
  });
 });
});

</script>
</head>
<body>
  <div>
    <div class="main">
      <div id="head"><img src="images/logo.bmp" width=100% /></div>
      <div id="menu">
        <div id="barone"><table border="0" width=99%>
            <tr>
              <td width=68% id="except" valign="middle">
                <%@ses ||=session[:user]
                if @ses.nil?
              %>
              <%else%>
                <% @fed ||=Customer.find(@ses)%>
                <div style="font-weight: bold;font-size: 17px;color: navy;padding-left: 20px;margin-top: -6px;">Welcome <%=@fed.name%></div>
                <%end%>
              </td>
              <td>
                <div class="butexcept" id="logbut">Login</div></td><td>
                <a href="/other"><div class="but">RTI</div></a></td><td>
                <a href="/other"><div class="but">Discloser</div></a></td><td>
                <a href="/other"><div class="but">webMail</div></a></td>
              <td id="except" valign="middle">
                <%@ses ||=session[:user]
                if @ses.nil?
              %>
                <a href="/other"><div class="but">Contact Us</div></a>
              <%else%>
                <div class="but"><%= link_to "Logout",{:controller=>'customers', :action=>'logout'},:class => 'ancer'%>
                </div>
                <%end%>
              </td></tr>
          </table>
        </div>
        <div id="bartwo">
          <table>
            <tr><td>
                <a href="/"><div class="butone" id="homebar">Home</div></a></td><td>
                <div class="butone" id="Institutes">Institute</div></td><td>
                <div class="butone" id="Academics">Academic</div></td><td>
                <div class="butone" id="department">Departments</div></td><td>
                <div class="butone" id="Facilitie">Facilities</div></td><td>
                <div class="butone" id="Student">Students</div></td><td valign="top">
<%@ses ||=session[:user]
                if @ses.nil?
              %>
              <%else%>
<% @fed ||=Customer.find(@ses)
           if @fed.user_type==="Admin"  %>
 <%= link_to "Feedbacks",{:controller=>'feedbacks', :action=>'index'}, :remote=>true,:class => 'butone'%>
             </td></tr>
<%else%>
      <%end%>
               
                <%end%>
          </table>
        </div>
        <div id="departments" class="submenu">
          <a href="/other"><div class="buttwo">Agricultural</div></a>
                <a href="/cse"><div class="buttwo">Computer Science </div></a>
                <a href="/other"><div class="buttwo">Chemistry</div></a>
                <a href="/other"><div class="buttwo">Civil</div></a>
                <a href="/ece"><div class="buttwo">ECE</div></a>
                <a href="/other"><div class="buttwo">Electrical</div></a>
                <a href="/other"><div class="buttwo">Forestry</div></a>
                <a href="/other"><div class="buttwo">HSS</div></a>
                <a href="/other"><div class="buttwo">Mathematics</div></a>
                <a href="/other"><div class="buttwo">Mechanical</div></a>
                <a href="/other"><div class="buttwo">Physics</div></a>
                </div>
        <div id="Institute" class="submenu">
          <a href="/other"><div class="buttwo">Administration</div></a>
          <a href="/other"><div class="buttwo">Director</div></a>
          <a href="/other"><div class="buttwo">History</div></a>
          <a href="/other"><div class="buttwo">Organization Structure</div></a>
          <a href="/other"><div class="buttwo">Location</div></a>
          <a href="/other"><div class="buttwo">Campus</div></a>
        </div>
        <div id="Academic" class="submenu">
          <a href="/other"><div class="buttwo">Research & Development</div></a>
                  <a href="/other"><div class="buttwo">Fees & Scholarships</div></a>
                  <a href="/other"><div class="buttwo">Curriculum</div></a>
                  <a href="/other"><div class="buttwo">Training & Placement</div></a>
                  <a href="/other"><div class="buttwo">Examination Cell</div></a>

        </div>
        <div id="Facilities" class="submenu">
          <a href="/other"><div class="buttwo">Library</div></a>
                  <a href="/other"><div class="buttwo">ET Cell/ACCF</div></a>
                  <a href="/other"><div class="buttwo">NERIST Health Unit</div></a>
                  <a href="/other"><div class="buttwo">Kendriya Vidyalaya</div></a>
                  <a href="/other"><div class="buttwo">Guest House</div></a>
                  <a href="/other"><div class="buttwo">Clubs</div></a>
                  <a href="/other"><div class="buttwo">Bank</div></a>
                  <a href="/other"><div class="buttwo">Auditorium</div></a>
                  <a href="/other"><div class="buttwo">Internet</div></a>
                  <a href="/other"><div class="buttwo">Hostels</div></a>
              
                </div>
        <div id="Students" class="submenu">
          <a href="/other"><div class="buttwo">Hostels</div></a>
          <a href="/other"><div class="buttwo">Gymkhana</div></a>
          <a href="/other"><div class="buttwo">Fee Structure</div></a>
          <a href="/other"><div class="buttwo">Students Activities</div></a>
          <a href="/other"><div class="buttwo">Student Facilties</div></a>
          <a href="/other"><div class="buttwo">Alumni</div></a>
        </div>
        <div id="login" class="submenu">
           <% form_tag :controller=>"customers", :action=>"login" do %>
          <table>
            <tr><td>
           <label for="user_login">Login:</label>
          </td><td>
           <%= text_field "user", "login", :size=>20 %></td></tr>
           <div class="signin_field"> <tr><td>
           <label for="user_password">Password:</label></td><td>
           <%= password_field "user", "password", :size=>20 %></td></tr>
           </div>
           <div id="signin_button"><tr><td></td><td>
           <%= submit_tag "Login" %>or
               <%= link_to "Register",{:controller=>'customers', :action=>'new'}, :remote=>true,:class => 'ancer'%>
               </td></tr>
           </div>
           </table>
           <%end%>
        </div>

      </div>
      <div id="content">
        <%=yield%>
      </div><hr/>
      <div id="foot">
        <a href="/other">RTI</a>
          <a href="/other">Discloser</a>
          <a href="/other">webMail</a>
          <a href="/other">Contact Us</a>
          <a href="/">Home</a>
          <a href="/other">Agricultural</a>
          <a href="/cse">Computer Science</a>
          <a href="/other">Chemistry</a>
          <a href="/other">Civil</a>
          <a href="/ece">ECE</a>
          <a href="/other">Electrical</a>
          <a href="/other">Forestry</a>
          <a href="/other">HSS</a>
          <a href="/other">Mathematics</a>
          <a href="/other">Mechanical</a>
          <a href="/other">Physics</a>
          <a href="/other">Administration</a>
          <a href="/other">Director</a>
          <a href="/other">History</a>
          <a href="/other">Organization Structure</a>
          <a href="/other">Location</a>
          <a href="/other">Campus</a>
          <a href="/other">Research & Development</a>
          <a href="/other">Fees & Scholarships</a>
          <a href="/other">Curriculum</a>
          <a href="/other">Training & Placement</a>
          <a href="/other">Examination Cell</a>
          <a href="/other">Library</a>
          <a href="/other">ET Cell/ACCF</a>
          <a href="/other">NERIST Health Unit</a>
          <a href="/other">Kendriya Vidyalaya</a>
          <a href="/other">Guest House</a>
          <a href="/other">Clubs</a>
          <a href="/other">Bank</a>
          <a href="/other">Auditorium</a>
          <a href="/other">Internet</a>
          <a href="/other">Hostels</a>
          <a href="/other">Hostels</a>
          <a href="/other">Gymkhana</a>
          <a href="/other">Fee Structure</a>
          <a href="/other">Students Activities</a>
          <a href="/other">Student Facilties</a>
          <a href="/other">Alumni</a><br/>
          <div style="width: 500px;margin-left: 24%;">
          © 2011 North Eastern Regional Institute of science & Tech,Arunachal pradesh . For queries contact webmaster@nerist.ac.in</div>
      </div>
      </div>
    </div>
  </body>
</html>
